html
  head
    title NodeJS - Express
    link(rel='icon' type='image/png' href='https://cdn.glitch.com/bb5c94da-1eb1-48dc-94c5-9e0232a7f91d%2Ffavicon.png?v=1591327162604')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="custom.css")
  body
    div.container-fluid
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        div.container
          a.navbar-brand(href='/') Home
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            uls.navbar-nav
              li.nav-item.active
                a.nav-link(href='/books')
                  | Books 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/users') Users
              li.nav-item
                a.nav-link(href='/transactions') Transactions
      block content
      
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
