if(action === 'update')
  h3 Update user 
  form(method="POST", action="/users/create?action=update&id=" + value.id)
    label(for="name") Name 
    input(type="text", id="name", name="name" value=value ? value.name : '')
    button update
else 
  h3 Create new user
  form(method="POST", action="/users/create?")
    label(for="name") Name 
    input(type="text", id="name", name="name" value=value ? value.name : '')
    button create    
    
button(onclick="javascript:window.history.back();") cancel
