a(href="/") Home
h2 Transaction infor
button  
  a(href="transactions/create") create
if transactions
  ul 
    each transaction in transactions
      li
        span= transaction.userId
        span  - 
        span= transaction.bookId
        span  - 
        span
          a(href="transactions/" + transaction.id + "/complete")= transaction.isComplete
else 
  p không có dữ liệu